svg>path.OfficeIconColors_m20 {
    fill: #FAFAFAFF;
}
svg>path.OfficeIconColors_m21 {
    fill: #C8C6C4FF;
}
svg>path.OfficeIconColors_m22 {
    fill: #3A3A38FF;
}
svg>path.OfficeIconColors_m23 {
    fill: #797774FF;
}
svg>path.OfficeIconColors_m24 {
    fill: #1E8BCDFF;
}
svg>path.OfficeIconColors_m25 {
    fill: #0063B1FF;
}
svg>path.OfficeIconColors_m26 {
    fill: #83BEECFF;
}
svg>path.OfficeIconColors_m27 {
    fill: #379E4EFF;
}
svg>path.OfficeIconColors_m28 {
    fill: #309048FF;
}
svg>path.OfficeIconColors_m29 {
    fill: #A1DDAAFF;
}
svg>path.OfficeIconColors_m210 {
    fill: #DE6C00FF;
}
svg>path.OfficeIconColors_m211 {
    fill: #DE6C00FF;
}
svg>path.OfficeIconColors_m212 {
    fill: #F8DB8FFF;
}
svg>path.OfficeIconColors_m213 {
    fill: #ED3D3BFF;
}
svg>path.OfficeIconColors_m214 {
    fill: #D42314FF;
}
svg>path.OfficeIconColors_m215 {
    fill: #FF9198FF;
}
svg>path.OfficeIconColors_m216 {
    fill: #FF672DFF;
}
svg>path.OfficeIconColors_m217 {
    fill: #E84B12FF;
}
svg>path.OfficeIconColors_m218 {
    fill: #FFB255FF;
}
svg>path.OfficeIconColors_m219 {
    fill: #A846B2FF;
}
svg>path.OfficeIconColors_m220 {
    fill: #922E9BFF;
}
svg>path.OfficeIconColors_m221 {
    fill: #D492D8FF;
}
svg>path.OfficeIconColors_m222 {
    fill: #FFFFFF66;
}
svg>path.OfficeIconColors_m223 {
    fill: #DCEDFA;
}
svg>path.OfficeIconColors_m224 {
    fill: #0063B1FF;
}
svg>path.OfficeIconColors_m225 {
    fill: #EADECCFF;
}
svg>path.OfficeIconColors_m226 {
    fill: #705F53FF;
}
svg>path.OfficeIconColors_m227 {
    fill: #FFFFFFFF;
}
svg>path.OfficeIconColors_m228 {
    fill: #007EE5FF;
}
svg>path.OfficeIconColors_m229 {
    fill: #D83B01FF;
}
svg>path.OfficeIconColors_m230 {
    fill: #0849B1FF;
}
svg>path.OfficeIconColors_m231 {
    fill: #0078D7FF;
}
svg>path.OfficeIconColors_m232 {
    fill: #7DA3C6FF;
}
svg>path.OfficeIconColors_m233 {
    fill: #2B579AFF;
}
svg>path.OfficeIconColors_m234 {
    fill: #B7472AFF;
}
svg>path.OfficeIconColors_m235 {
    fill: #ED9583FF;
}
svg>path.OfficeIconColors_m236 {
    fill: #217346FF;
}
svg>path.OfficeIconColors_m237 {
    fill: #6EB38AFF;
}
svg>path.OfficeIconColors_m238 {
    fill: #7719AAFF;
}
svg>path.OfficeIconColors_m239 {
    fill: #DDC5ECFF;
}
svg>path.OfficeIconColors_m240 {
    fill: #FF0000FF;
}
svg>path.OfficeIconColors_m241 {
    fill: #FFFF00FF;
}
svg>path.OfficeIconColors_m242 {
    fill: #00FF00FF;
}
svg>path.OfficeIconColors_m243 {
    fill: #00FFFFFF;
}
svg>path.OfficeIconColors_m244 {
    fill: #FF0000FF;
}
svg>path.OfficeIconColors_m245 {
    fill: #FF8000FF;
}
svg>path.OfficeIconColors_m246 {
    fill: #57D200FF;
}
svg>path.OfficeIconColors_m247 {
    fill: #3165BBFF;
}
svg>path.OfficeIconColors_m248 {
    fill: #969696FF;
}
svg>path.OfficeIconColors_m249 {
    fill: #797979FF;
}
svg>path.OfficeIconColors_m250 {
    fill: #B3B3B3FF;
}
svg>path.OfficeIconColors_m251 {
    fill: #FF00FFFF;
}
svg>path.OfficeIconColors_m252 {
    fill: #000000FF;
}
svg>path.OfficeIconColors_m253 {
    fill: #9FCDB3FF;
}
svg>path.OfficeIconColors_m254 {
    fill: #028484FF;
}
svg>path.OfficeIconColors_m255 {
    fill: #3B5998FF;
}
svg>path.OfficeIconColors_m256 {
    fill: #1DA1F2FF;
}
svg>path.OfficeIconColors_m257 {
    fill: #DD4B39FF;
}
svg>path.OfficeIconColors_m258 {
    fill: #35465DFF;
}
svg>path.OfficeIconColors_m259 {
    fill: #464342FF;
}
svg>path.OfficeIconColors_m260 {
    fill: #BD081CFF;
}
svg>path.OfficeIconColors_m261 {
    fill: #0077B5FF;
}
svg>path.OfficeIconColors_m262 {
    fill: #FF4500FF;
}
svg>path.OfficeIconColors_m263 {
    fill: #008372FF;
}
svg>path.OfficeIconColors_m264 {
    fill: #0078D7FF;
}
svg>path.OfficeIconColors_m265 {
    fill: #0063DBFF;
}
svg>path.OfficeIconColors_m266 {
    fill: #FF0084FF;
}
svg>path.OfficeIconColors_m267 {
    fill: #CD201FFF;
}
svg>path.OfficeIconColors_m268 {
    fill: #FF00AAFF;
}
svg>path.OfficeIconColors_m269 {
    fill: #F57D00FF;
}
svg>path.OfficeIconColors_m270 {
    fill: #00BF00FF;
}
svg>path.OfficeIconColors_m271 {
    fill: #E6E6E6FF;
}
svg>path.OfficeIconColors_m272 {
    fill: #5A5A5AFF;
}
svg>path.OfficeIconColors_m273 {
    fill: #F4840BFF;
}
svg>path.OfficeIconColors_m274 {
    fill: #FF1600FF;
}
svg>path.OfficeIconColors_m275 {
    fill: #933DC1FF;
}
svg>path.OfficeIconColors_m276 {
    fill: #00BFFFFF;
}
svg>path.OfficeIconColors_m277 {
    fill: #B5D82AFF;
}
svg>path.OfficeIconColors_m278 {
    fill: #F2D80DFF;
}
svg>path.OfficeIconColors_m279 {
    fill: #D40078FF;
}
svg>path.OfficeIconColors_m280 {
    fill: #FABD14FF;
}
svg>path.OfficeIconColors_m281 {
    fill: #0F893EFF;
}
svg>path.OfficeIconColors_m282 {
    fill: #004E8CFF;
}
svg>path.OfficeIconColors_m283 {
    fill: #AC008CFF;
}
svg>path.OfficeIconColors_m284 {
    fill: #F7630DFF;
}
svg>path.OfficeIconColors_m285 {
    fill: #E81123FF;
}
svg>path.OfficeIconColors_m286 {
    fill: #00B6C1FF;
}
svg>path.OfficeIconColors_m287 {
    fill: #0063AFFF;
}
svg>path.OfficeIconColors_m288 {
    fill: #5B2D90FF;
}
svg>path.OfficeIconColors_m289 {
    fill: #C6A477FF;
}
svg>path.OfficeIconColors_m290 {
    fill: #7EC500FF;
}
svg>path.OfficeIconColors_m291 {
    fill: #00AC56FF;
}
svg>path.OfficeIconColors_m292 {
    fill: #0099BBFF;
}
svg>path.OfficeIconColors_m293 {
    fill: #C10051FF;
}
svg>path.OfficeIconColors_m294 {
    fill: #84939AFF;
}
svg>path.OfficeIconColors_m295 {
    fill: #106EBEFF;
}
svg>path.OfficeIconColors_m296 {
    fill: #EE3124FF;
}
svg>path.OfficeIconColors_m297 {
    fill: #DCEAF5FF;
}
svg>path.OfficeIconColors_m298 {
    fill: #C6DFF3FF;
}
svg>path.OfficeIconColors_m299 {
    fill: #B0D4F1FF;
}
svg>path.OfficeIconColors_m2100 {
    fill: #9AC9EEFF;
}
svg>path.OfficeIconColors_m2101 {
    fill: #83BEECFF;
}
svg>path.OfficeIconColors_m2102 {
    fill: #60ACE1FF;
}
svg>path.OfficeIconColors_m2103 {
    fill: #3D9BD6FF;
}
svg>path.OfficeIconColors_m2104 {
    fill: #1B86CAFF;
}
svg>path.OfficeIconColors_m2105 {
    fill: #1A6EBDFF;
}
svg>path.OfficeIconColors_m2106 {
    fill: #FFFFFFFF;
}
svg>path.OfficeIconColors_m2107 {
    fill: #00A4FFFF;
}
svg>path.OfficeIconColors_m2108 {
    fill: #0000007F;
}
svg>path.OfficeIconColors_m2109 {
    fill: #FFFFFF66;
}
svg>path.OfficeIconColors_m2110 {
    fill: #FFFFFF4C;
}
svg>path.OfficeIconColors_m2111 {
    fill: #FFFFFF7F;
}
svg>path.OfficeIconColors_m2112 {
    fill: #000000FF;
}
svg>path.OfficeIconColors_m2113 {
    fill: #A4373AFF;
}
svg>path.OfficeIconColors_m2114 {
    fill: #31752FFF;
}
svg>path.OfficeIconColors_m2115 {
    fill: #077568FF;
}
svg>path.OfficeIconColors_m2116 {
    fill: #3955A3FF;
}
svg>path.OfficeIconColors_m2117 {
    fill: #8EA6DDFF;
}
svg>path.OfficeIconColors_m2118 {
    fill: #00A1E0FF;
}
svg>path.OfficeIconColors_m2119 {
    fill: #002050FF;
}
svg>path.OfficeIconColors_m2120 {
    fill: #FFEF9CFF;
}
svg>path.OfficeIconColors_m2121 {
    fill: #638AC6FF;
}
svg>path.OfficeIconColors_m2122 {
    fill: #638AC63F;
}
svg>path.OfficeIconColors_m2123 {
    fill: #63BE7BFF;
}
svg>path.OfficeIconColors_m2124 {
    fill: #63BE7B3F;
}
svg>path.OfficeIconColors_m2125 {
    fill: #FF555AFF;
}
svg>path.OfficeIconColors_m2126 {
    fill: #FF555A3F;
}
svg>path.OfficeIconColors_m2127 {
    fill: #FFB628FF;
}
svg>path.OfficeIconColors_m2128 {
    fill: #008AEFFF;
}
svg>path.OfficeIconColors_m2129 {
    fill: #D6007BFF;
}
svg>path.OfficeIconColors_m2130 {
    fill: #ED7D31FF;
}
svg>path.OfficeIconColors_m2131 {
    fill: #107C10FF;
}
svg>path.OfficeIconColors_m2132 {
    fill: #C30052FF;
}
svg>path.OfficeIconColors_m2133 {
    fill: #9C0041FF;
}
svg>path.OfficeIconColors_m2134 {
    fill: #F7BFA0FF;
}
svg>path.OfficeIconColors_m2135 {
    fill: #A2D3A0FF;
}
svg>path.OfficeIconColors_m2136 {
    fill: #9FCDC7FF;
}
svg>path.OfficeIconColors_m2137 {
    fill: #D492D84C;
}
svg>path.OfficeIconColors_m2138 {
    fill: #00AECDFF;
}
svg>path.OfficeIconColors_m2139 {
    fill: #4285F1FF;
}
svg>path.OfficeIconColors_m2140 {
    fill: #32A651FF;
}
svg>path.OfficeIconColors_m2141 {
    fill: #FBBE05FF;
}
svg>path.OfficeIconColors_m2142 {
    fill: #EA4235FF;
}
svg>path.OfficeIconColors_m2143 {
    fill: #D492D899;
}
svg>path.OfficeIconColors_m2144 {
    fill: #0182BCFF;
}
svg>path.OfficeIconColors_m2145 {
    fill: #312F62FF;
}
svg>path.OfficeIconColors_m2146 {
    fill: #7CBC31FF;
}
svg>path.OfficeIconColors_m2147 {
    fill: #FAFAFAFF;
}
svg>path.OfficeIconColors_m2148 {
    fill: #3A3A38FF;
}
svg>path.OfficeIconColors_m2149 {
    fill: #797774FF;
}
svg>path.OfficeIconColors_m2150 {
    fill: #F07D88FF;
}
svg>path.OfficeIconColors_m2151 {
    fill: #55ABE5FF;
}
svg>path.OfficeIconColors_m2152 {
    fill: #5FBE7DFF;
}
svg>path.OfficeIconColors_m2153 {
    fill: #B9C0CBFF;
}
svg>path.OfficeIconColors_m2154 {
    fill: #FF8C00FF;
}
svg>path.OfficeIconColors_m2155 {
    fill: #33BAB1FF;
}
svg>path.OfficeIconColors_m2156 {
    fill: #A3B367FF;
}
svg>path.OfficeIconColors_m2157 {
    fill: #A895E2FF;
}
svg>path.OfficeIconColors_m2158 {
    fill: #026802FF;
}
svg>path.OfficeIconColors_m2159 {
    fill: #FFF100FF;
}
svg>path.OfficeIconColors_m2160 {
    fill: #5558AFFF;
}
svg>path.OfficeIconColors_m2161 {
    fill: #800080FF;
}
svg>path.OfficeIconColors_m2162 {
    fill: #FF91983F;
}
svg>path.OfficeIconColors_m2163 {
    fill: #68217AFF;
}
svg>path.OfficeIconColors_m2164 {
    fill: #2B2C33FF;
}
svg>path.OfficeIconColors_m2165 {
    fill: #00A7E9FF;
}
svg>path.OfficeIconColors_m2166 {
    fill: #00979DFF;
}
svg>path.OfficeIconColors_m2167 {
    fill: #FBD115FF;
}
svg>path.OfficeIconColors_m2168 {
    fill: #006BFFFF;
}
svg>path.OfficeIconColors_m2169 {
    fill: #231840FF;
}
svg>path.OfficeIconColors_m2170 {
    fill: #9E8BFCFF;
}
svg>path.OfficeIconColors_m2171 {
    fill: #F3E9FFFF;
}
svg>path.OfficeIconColors_m2172 {
    fill: #FFFFFF4C;
}
svg>path.OfficeIconColors_m2173 {
    fill: #3A3A38FF;
}
svg>path.OfficeIconColors_m2174 {
    fill: #797774FF;
}
svg>path.OfficeIconColors_m2175 {
    fill: #00000059;
}
svg>path.OfficeIconColors_m2176 {
    fill: #FFFFFF7F;
}
svg>path.OfficeIconColors_m2177 {
    fill: #A7DCD5FF;
}
svg>path.OfficeIconColors_m2178 {
    fill: #329494FF;
}
svg>path.OfficeIconColors_m2179 {
    fill: #008085FF;
}
svg>path.OfficeIconColors_m2180 {
    fill: #90E3E3FF;
}
svg>path.OfficeIconColors_m2181 {
    fill: #FFFFFFFF;
}
svg>path.OfficeIconColors_m2182 {
    fill: #0000000C;
}
svg>path.OfficeIconColors_m2183 {
    fill: #00000019;
}
svg>path.OfficeIconColors_m2184 {
    fill: #00000033;
}
svg>path.OfficeIconColors_m2185 {
    fill: #0000007F;
}
svg>path.OfficeIconColors_m2186 {
    fill: #000000C0;
}
svg>path.OfficeIconColors_m2187 {
    fill: #41A5EEFF;
}
svg>path.OfficeIconColors_m2188 {
    fill: #2B7CD3FF;
}
svg>path.OfficeIconColors_m2189 {
    fill: #185ABDFF;
}
svg>path.OfficeIconColors_m2190 {
    fill: #103F91FF;
}
svg>path.OfficeIconColors_m2191 {
    fill: #163870FF;
}
svg>path.OfficeIconColors_m2192 {
    fill: #33C481FF;
}
svg>path.OfficeIconColors_m2193 {
    fill: #21A366FF;
}
svg>path.OfficeIconColors_m2194 {
    fill: #107C41FF;
}
svg>path.OfficeIconColors_m2195 {
    fill: #185C37FF;
}
svg>path.OfficeIconColors_m2196 {
    fill: #134A2CFF;
}
svg>path.OfficeIconColors_m2197 {
    fill: #FF8F6BFF;
}
svg>path.OfficeIconColors_m2198 {
    fill: #ED6C47FF;
}
svg>path.OfficeIconColors_m2199 {
    fill: #D35230FF;
}
svg>path.OfficeIconColors_m2200 {
    fill: #C43E1CFF;
}
svg>path.OfficeIconColors_m2201 {
    fill: #993117FF;
}
svg>path.OfficeIconColors_m2202 {
    fill: #CA64EAFF;
}
svg>path.OfficeIconColors_m2203 {
    fill: #AE4BD5FF;
}
svg>path.OfficeIconColors_m2204 {
    fill: #9332BFFF;
}
svg>path.OfficeIconColors_m2205 {
    fill: #7719AAFF;
}
svg>path.OfficeIconColors_m2206 {
    fill: #511575FF;
}
svg>path.OfficeIconColors_m2207 {
    fill: #50D9FFFF;
}
svg>path.OfficeIconColors_m2208 {
    fill: #28A8EAFF;
}
svg>path.OfficeIconColors_m2209 {
    fill: #1490DFFF;
}
svg>path.OfficeIconColors_m2210 {
    fill: #0078D4FF;
}
svg>path.OfficeIconColors_m2211 {
    fill: #0364B8FF;
}
svg>path.OfficeIconColors_m2212 {
    fill: #0358A7FF;
}
svg>path.OfficeIconColors_m2213 {
    fill: #06509BFF;
}
svg>path.OfficeIconColors_m2214 {
    fill: #064A8CFF;
}
svg>path.OfficeIconColors_m2215 {
    fill: #0A2767FF;
}
svg>path.OfficeIconColors_m2216 {
    fill: #0A27677F;
}
svg>path.OfficeIconColors_m2217 {
    fill: #7B83EBFF;
}
svg>path.OfficeIconColors_m2218 {
    fill: #5059C9FF;
}
svg>path.OfficeIconColors_m2219 {
    fill: #4B53BCFF;
}
svg>path.OfficeIconColors_m2220 {
    fill: #363A7EFF;
}
svg>path.OfficeIconColors_m2221 {
    fill: #37C6D0FF;
}
svg>path.OfficeIconColors_m2222 {
    fill: #1A9BA1FF;
}
svg>path.OfficeIconColors_m2223 {
    fill: #038387FF;
}
svg>path.OfficeIconColors_m2224 {
    fill: #036C70FF;
}
svg>path.OfficeIconColors_m2225 {
    fill: #0E4F51FF;
}
svg>path.OfficeIconColors_m2226 {
    fill: #DE6C00FF;
}
svg>path.OfficeIconColors_m2227 {
    fill: #FFFFFF00;
}
svg>path.OfficeIconColors_m2228 {
    fill: #3A3A38FF;
}
svg>path.OfficeIconColors_m2229 {
    fill: #FFFFFF00;
}
svg>path.OfficeIconColors_m2230 {
    fill: #1E8BCDFF;
}
svg>path.OfficeIconColors_m2231 {
    fill: #FFFFFF00;
}
svg>path.OfficeIconColors_m2232 {
    fill: #66C2B5FF;
}
svg>path.OfficeIconColors_m2233 {
    fill: #FAC914FF;
}
svg>path.OfficeIconColors_m2234 {
    fill: #E9001BFF;
}
svg>path.OfficeIconColors_m2235 {
    fill: #A8C4CFFF;
}
svg>path.OfficeIconColors_m2236 {
    fill: #6EB005FF;
}
svg>path.OfficeIconColors_m2237 {
    fill: #B4009EFF;
}
svg>path.OfficeIconColors_m2238 {
    fill: #C8C6C4FF;
}
svg>path.OfficeIconColors_m2239 {
    fill: #666EDAFF;
}
svg>path.OfficeIconColors_m2240 {
    fill: #41479DFF;
}
svg>path.OfficeIconColors_m2241 {
    fill: #E08095FF;
}
svg>path.OfficeIconColors_m2242 {
    fill: #C94F60FF;
}
svg>path.OfficeIconColors_m2243 {
    fill: #AF2031FF;
}
svg>path.OfficeIconColors_m2244 {
    fill: #881421FF;
}
svg>path.OfficeIconColors_m2245 {
    fill: #66121CFF;
}
svg>path.OfficeIconColors_m2246 {
    fill: #E8467CFF;
}
svg>path.OfficeIconColors_m2247 {
    fill: #D23062FF;
}
svg>path.OfficeIconColors_m2248 {
    fill: #BC1948FF;
}
svg>path.OfficeIconColors_m2249 {
    fill: #8C193FFF;
}
svg>path.OfficeIconColors_m2250 {
    fill: #7B193BFF;
}
svg>path.OfficeIconColors_m2251 {
    fill: #000000FF;
}
svg>path.OfficeIconColors_m2252 {
    fill: #C8C6C4FF;
}
svg>path.OfficeIconColors_m2253 {
    fill: #86F2F2FF;
}
svg>path.OfficeIconColors_m2254 {
    fill: #F29E00FF;
}
svg>path.OfficeIconColors_m2255 {
    fill: #D83B01FF;
}
svg>path.OfficeIconColors_m2256 {
    fill: #D83B013F;
}
svg>path.OfficeIconColors_m2257 {
    fill: #D5559CFF;
}
svg>path.OfficeIconColors_m2258 {
    fill: #C21F24FF;
}
svg>path.OfficeIconColors_m2259 {
    fill: #C21F243F;
}
svg>path.OfficeIconColors_m2260 {
    fill: #F32940FF;
}
svg>path.OfficeIconColors_m2261 {
    fill: #5E050026;
}
svg>path.OfficeIconColors_m2262 {
    fill: #185ABDFF;
}
svg>path.OfficeIconColors_m2263 {
    fill: #107C41FF;
}
svg>path.OfficeIconColors_m2264 {
    fill: #C43E1CFF;
}
svg>path.OfficeIconColors_m2265 {
    fill: #7719AAFF;
}
svg>path.OfficeIconColors_m2266 {
    fill: #0078D4FF;
}
svg>path.OfficeIconColors_m2267 {
    fill: #4B53BCFF;
}
svg>path.OfficeIconColors_m2268 {
    fill: #038387FF;
}
svg>path.OfficeIconColors_m2269 {
    fill: #AF2031FF;
}
svg>path.OfficeIconColors_m2270 {
    fill: #BC1948FF;
}
svg>path.OfficeIconColors_m2271 {
    fill: #F8DE6DFF;
}
svg>path.OfficeIconColors_m2272 {
    fill: #E9C011FF;
}
svg>path.OfficeIconColors_m2273 {
    fill: #E6AD10FF;
}
svg>path.OfficeIconColors_m2274 {
    fill: #D7960FFF;
}
svg>path.OfficeIconColors_m2275 {
    fill: #D08A0FFF;
}
svg>path.OfficeIconColors_m2276 {
    fill: #C87E0EFF;
}
svg>path.OfficeIconColors_m2277 {
    fill: #34C1E0FF;
}
svg>path.OfficeIconColors_m2278 {
    fill: #83E688FF;
}
svg>path.OfficeIconColors_m2279 {
    fill: #37B658FF;
}
svg>path.OfficeIconColors_m2280 {
    fill: #088142FF;
}
svg>path.OfficeIconColors_m2281 {
    fill: #09743DFF;
}
svg>path.OfficeIconColors_m2282 {
    fill: #0A5A33FF;
}
svg>path.OfficeIconColors_m2283 {
    fill: #0A5A33FF;
}
svg>path.OfficeIconColors_m2284 {
    fill: #0A5A33FF;
}
svg>path.OfficeIconColors_m2285 {
    fill: #E5512AFF;
}
svg>path.OfficeIconColors_m2286 {
    fill: #BB3B01FF;
}
svg>path.OfficeIconColors_m2287 {
    fill: #8661C5FF;
}
svg>path.OfficeIconColors_m2288 {
    fill: #0472D8FF;
}
svg>path.OfficeIconColors_m2289 {
    fill: #0C4497FF;
}
svg>path.OfficeIconColors_m2290 {
    fill: #2096FFFF;
}
svg>path.OfficeIconColors_m2291 {
    fill: #56C5FFFF;
}
svg>path.OfficeIconColors_m2292 {
    fill: #4C43E0FF;
}
svg>path.OfficeIconColors_m2293 {
    fill: #EEE5FFFF;
}
svg>path.OfficeIconColors_DynamicColor {
    fill: inherit;
}
